<!DOCTYPE html>
<html>
<head lang="ja">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="static/js/jquery-3.5.1.slim.min.js"></script>
  <script src="static/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <title>Chinese restaurant</title>
</head>
<body>
<center>
  <h2 class="text-success">中華料理店</h2>
</center>

<center>
  <strong>アップロードする画像を選択して下さい<br>↓↓</strong>
  <form method="POST" enctype="multipart/form-data">
    <input type="file" name="file">
    <button type="submit" name="btnform1"  class="btn btn-primary">送信</button>
  </form>
  
  <img id="showimg" src="img/food_kanitama.png" style="width:340px;height=auto;"alt = "食べ物の画像" name="image" >
</center>
  <br>
  <hr> 

<center>
  <strong>画像を選択して下さい</strong>
</center>

<center>
 <ul>
  {% for blob in blobs %}
  <img class="food_img" src="{{ blob.public_url }}" style="width:340px;height:auto;"> 
  {% endfor %}    
 </ul>
</center>
 
  
<script type="text/javascript">
    $(document).on('click',".food_img",function(){
        $("#showimg").attr('src',$(this).attr('src'));
    });
</script>
</body>
</html>
